# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CECS 323\WarehouseSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
